p, h2 {
    text-align: center;
}
h1 {
    margin-top: 6em;
}
.save {
    padding: 9px 19px 8px 19px;
    background: #cc58ad;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.update {
    padding: 9px 19px 8px 19px;
    background: #de3e30;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.button1, .button2, .button3 {
    padding: 9px 19px 8px 19px;
    background: #eba91a;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.button2 {
    background: #18be95;
}
.button3 {
    background: #a30cc9;
}